
<section class="show">
    <div class="show-details">
        <div class="model detail">
           <p>{{make}}</p>
        </div>
        <div class="make-detail">
            <p>{{ model }}</p>
        </div>
        <div class="year-detail">
            <p>{{ year }}</p>
        </div>
    </div>
</section>

<div class="edit-button">
  <form action="/luxurycars/edit/{{this.id}}?_method=delete" method="edit">
    <input class="button1" type="submit" value="Edit">
  </form> 
</div>
<div class="delete-button2">
  <form action="/luxurycars/edit/{{this.id}}?_method=delete" method="post">
    <input class="button2" type="submit" value="Delete">
  </form> 
</div>
