
<section class="show">
    <div class="show details">
        <div class="model detail">
           <h4>{{make}}</h4>
       </div>
      <div class="make-detail">
             <p>{{ model }}</p>
        </div>
        <div class="year-detail">
             <p>{{ year }}</p>
        </div>
    </div>
</section>

<br>
<form action="/luxurycars/edit/{{this.id}}?_method=delete" method="edit">
  <input type="submit" value="Edit">
</form> 

<form action="/luxurycars/edit/{{this.id}}?_method=delete" method="post">
  <input type="submit" value="Delete">
</form> 

</form>